

Read and concatenate CSVs

In [ ]:
import pandas as pd
import glob
import psycopg2

# Define the location of CSV files
csv_location = "bike-rental-starter-kit/data"
# Collect all tripdata CSV files from the folder
trip_data_files = glob.glob(rf"{csv_location}/*tripdata.csv")
# Read each CSV file into a DataFrame and concatenate them into a single DataFrame
trip_data_df = pd.concat([pd.read_csv(f) for f in trip_data_files], ignore_index=True)

Replace whitespace with underscores and convert column names to lowercase

In [ ]:

trip_data_df.columns = [x.replace(" ", "_").lower() for x in trip_data_df.columns]

Inspecting first few rows of our new dataframe

In [ ]:
trip_data_df.head()

Inspecting the default datatypes given by Pandas

In [ ]:
trip_data_df.dtypes

Changing to other better suiting data types

In [ ]:
convert_dict = {
    "trip_duration": "Int64",
    "start_station_id": "Int64",
    "end_station_id": "Int64",
    "bike_id": "Int64",
    "birth_year": "Int64",
    "start_station_name": "string",
    "end_station_name": "string",
    "user_type": "category",
    "gender": "category"
}
trip_data_df = trip_data_df.astype(convert_dict)

Also, we have to convert the date columns separately, because Pandas doesn’t have an astype("datetime") type.

In [ ]:
trip_data_df["start_time"] = pd.to_datetime(trip_data_df["start_time"], errors="coerce")
trip_data_df["stop_time"] = pd.to_datetime(trip_data_df["stop_time"], errors="coerce")

trip_data_df.dtypes

Next step, we gonna check, if there are any duplicate rows and if yes we gonna remove them

In [ ]:
trip_data_df.duplicated().sum()

In [ ]:
trip_data_df.drop_duplicates(inplace=True)

We are going to define an ID column using the indexes, so it will be easier to manage our data in the future.

In [ ]:
trip_data_df["id"] = trip_data_df.index
trip_data_df.head()

Now, let's move forward with further analysis of our DataFrame

In [ ]:
trip_data_df.describe()

In [ ]:
trip_data_df.info(memory_usage='deep')

Missing Data:

In [ ]:
trip_data_df.isna().sum()

The trip_duration column had a suspiciously large maximum also a very small minimum value.

In [ ]:
# Convert trip duration from seconds to minutes and hours
trip_data_df["trip_minutes"]=round(trip_data_df["trip_duration"] / 60,2)
trip_data_df["trip_hours"]=round(trip_data_df["trip_duration"] / 3600,2)
trip_data_df[["trip_duration","trip_minutes","trip_hours"]].describe()

According to the Citi Bike data dictionary, any trips shorter than 60 seconds are likely false starts or users quickly re-docking the bike to ensure it’s secure.

Looking at the data, some trips are extremely long, e.g., 4,500 hours, which is roughly half a year. It’s plausible that an annual subscriber could have left a bike out for an extended period without returning it. Therefore, we will keep these unusually long trips for analysis.

However, trips under 60 seconds will be removed, in line with the official documentation.

In [ ]:
trip_data_df.drop(trip_data_df[trip_data_df["trip_duration"] < 60].index, inplace=True)
trip_data_df[["trip_duration","trip_minutes","trip_hours"]].describe()

After analyzing the data further, we can see that the earliest birth year is 1900. This is quite odd because, considering this dataset was created in 2016, it would mean the cyclist would be over 100 years old. Let's fix this. We are going to drop every row where our cyclist is more than 80 years old.

In [ ]:
trip_data_df.drop(trip_data_df[trip_data_df["birth_year"] < 1936].index, inplace=True)
trip_data_df["birth_year"].sort_values(ascending=True)[:5]

On the other hand, 16-year-olds can easily use a bicycle.

In [ ]:
trip_data_df["birth_year"].sort_values(ascending=False)[:5]

We can also see that there are many missing values in the user_type and birth_year columns

In [1]:
missing_birth_year = trip_data_df[trip_data_df[["birth_year"]].isnull().any(axis=1)]
missing_birth_year.head()

NameError: name 'trip_data_df' is not defined

In [ ]:
missing_birth_year["user_type"].value_counts()

In [ ]:
missing_birth_year['gender'].value_counts()

In [ ]:
missing_birth_year["user_type"].value_counts() /trip_data_df["user_type"].value_counts()

We can see that 99% of the customers don’t have a birth year, and their gender is also unknown. Therefore, it is reasonable to assume that people with missing birth year and unknown gender should be assigned the "Customer" role, while the others can be assumed to be "Subscribers." This is because a customer can use a bike for a maximum of three days, whereas a subscriber can use it for a year. It is more likely that annual subscribers have long-term plans and will provide more information about themselves.

In [ ]:
# Assign 'customer' to rows where user_type is missing and either gender is 0 or birth_year is missing
cond_customer = trip_data_df["user_type"].isna() & ((trip_data_df["gender"] == 0) | trip_data_df["birth_year"].isna())
trip_data_df.loc[cond_customer, "user_type"] = "Customer"

# Assign 'subscriber' to rows where user_type is missing but birth_year is known and gender is not 0
cond_subscriber = trip_data_df["user_type"].isna() & trip_data_df["birth_year"].notna() & (trip_data_df["gender"] != 0)
trip_data_df.loc[cond_subscriber, "user_type"] = "Subscriber"

trip_data_df.isna().sum()

Now we only have to deal with the missing birth_year values. There are three possible approaches: we could drop the rows with missing values, fill them with a value such as the average birth year of the DataFrame, or leave them as they are.

In [ ]:
trip_data_df["birth_year"].isna().sum() / len(trip_data_df)

Only 7% of the data is missing. We can replace the missing values with an average estimate so that our dataset has no missing values.

In [ ]:
avg_birth_year = int(trip_data_df["birth_year"].mean())
trip_data_df["birth_year"] = trip_data_df["birth_year"].fillna(avg_birth_year)
trip_data_df.isna().sum()

Lets look at gender:

In [ ]:
trip_data_df.groupby(['user_type','gender']).count()['id']

There were only a few rows that we assigned to the Customer user type. This reflects the fact that many customers did not provide complete information. As a result, the Customer data may not be as reliable as the Subscriber data, and we should keep this in mind during analysis.

Since we dropped a few rows lets reset index

In [ ]:
trip_data_df.reset_index(drop=True,inplace=True)
trip_data_df['ID'] = trip_data_df.index
trip_data_df.drop("id",axis=1,inplace=True)
trip_data_df.head()

Now that we have finished cleaning the data, we will connect to a PostgreSQL server (supabase.com) and upload our DataFrame into relational tables.
Firstly we create the tables:

In [ ]:

import os

# For local usage:
    #from dotenv import load_dotenv
    #load_dotenv()


# Read the password from environment variable
password = os.getenv("PG_PASSWORD")
#Connection setup with supabase:
conn_string = (
    f"postgresql://postgres.juqzmtaoicczafyaspmt:{password}@aws-1-eu-central-1.pooler.supabase.com:6543/postgres"
)

This section creates the necessary PostgreSQL schema and tables for the Bike Rental project. These tables are designed to store stations, users, trips, gender information, and a date dimension for analytics purposes.

In [ ]:


with psycopg2.connect(conn_string) as conn:
    try:
        with conn.cursor() as cur:
            cur.execute("""       
                CREATE SCHEMA IF NOT EXISTS bikeshare;

                CREATE TABLE IF NOT EXISTS bikeshare.stations (
                    id INT PRIMARY KEY,
                    name VARCHAR(100),
                    latitude DECIMAL,
                    longitude DECIMAL
                );

                CREATE TABLE IF NOT EXISTS bikeshare.gender (
                    id INT PRIMARY KEY,
                    gender_name VARCHAR(10)
                );

                CREATE TABLE IF NOT EXISTS bikeshare.users (
                    id INT PRIMARY KEY,
                    user_type VARCHAR(30),
                    gender INT REFERENCES bikeshare.gender(id),
                    birth_year INT
                );
                  CREATE TABLE IF NOT EXISTS bikeshare.dim_date (
                    date_id INT PRIMARY KEY,    
                    full_date DATE NOT NULL,      
                    year INT,
                    month INT,
                    day INT,
                    month_name VARCHAR(20),
                    day_name VARCHAR(20),
                    quarter INT
                );
                                
                CREATE TABLE IF NOT EXISTS bikeshare.trip_informations (
                    id SERIAL PRIMARY KEY,
                    trip_duration INT,
                    start_time TIMESTAMP,
                    stop_time TIMESTAMP,
                    start_station_id INT REFERENCES bikeshare.stations(id),
                    end_station_id INT REFERENCES bikeshare.stations(id),
                    bike_id INT,
                    user_id INT REFERENCES bikeshare.users(id),
                    date_key INT REFERENCES bikeshare.dim_date(date_id)    
                );
            """)
            print("Tables created successfully.")
    except psycopg2.DatabaseError as e:
        print("Database error:", e)

Now we are going to define a new dataset to build the Date Dimension table for our database. This is very useful because it standardizes all date attributes across the data warehouse, making it easier to perform consistent time-based analysis.

In [ ]:
import datetime
beginning = datetime.datetime(2016,1,1)
col_date = [beginning + datetime.timedelta(x) for x in range(366)]
date_df = pd.DataFrame(col_date, columns=["full_date"])
date_df["full_date"] = pd.to_datetime(date_df["full_date"], errors="coerce")
date_df.head()

Now we are going to generate the year, month, day, month name, day name and the quarter of the year:

In [ ]:
date_df["year"]=date_df["full_date"].dt.year
date_df["month"] = date_df["full_date"].dt.month
date_df["day"] = date_df["full_date"].dt.day
date_df["month_name"] = date_df["full_date"].dt.strftime("%B")
date_df["day_name"] = date_df["full_date"].dt.strftime("%A")
date_df["quarter"] = date_df["full_date"].dt.quarter
date_df.head()
date_df.dtypes

Next, we are going to create the two keys that will join these two future tables together in the dataset:

In [ ]:

date_df["date_id"] = date_df["full_date"].dt.strftime("%Y%m%d").astype("int64")
trip_data_df["date_key"] = trip_data_df["start_time"].dt.strftime("%Y%m%d").astype("int64")
date_df=date_df[["date_id","full_date","year","month","day","month_name","day_name","quarter"]]
date_df.tail(10)

“We will also create a separate dataframe for the stations, so that we can upload them into the stations table in our SQL database

In [ ]:
start_stations_df=trip_data_df[["start_station_id","start_station_name","start_station_latitude","start_station_longitude"]].drop_duplicates().reset_index(drop=True)
end_stations_df = trip_data_df[["end_station_id","end_station_name","end_station_latitude","end_station_longitude"]].drop_duplicates().reset_index(drop=True)
start_stations_df.columns = ["station_id", "station_name", "latitude", "longitude"]
end_stations_df.columns = ["station_id", "station_name", "latitude", "longitude"]
stations_df=pd.concat([start_stations_df,end_stations_df]).drop_duplicates().reset_index(drop=True)
stations_df.tail()

In order to ensure each user is unique, we extracted the "birth_year", "user_type", and "gender" columns into a separate dataframe, dropped any duplicate rows, added a user_id column, and then merged it back with the original dataframe. This way, each user now has a unique identifier for analysis.

In [ ]:
users_df=trip_data_df[["birth_year","user_type","gender"]].drop_duplicates().reset_index(drop=True)
users_df["user_id"]=range(1,len(users_df)+1)
if "user_id" not in trip_data_df.columns:
    trip_data_df=trip_data_df.merge(users_df, on= ["birth_year","user_type","gender"],how="left")
users_df.head()

Now we are going to use the SQL INSERT command to populate our tables with the cleaned DataFrames:

In [ ]:
from psycopg2.extras import execute_values
import psycopg2

def insert_data(table_name, columns, dataframe, conn_string):
    """
    Inserts all rows from a pandas DataFrame into a PostgreSQL table.

    table_name: str, name of the table
    columns: tuple of column names e.g. ("id", "name", "latitude")
    dataframe: pandas DataFrame
    con_string: psycopg2 connection parameters
    """
    try:
        with psycopg2.connect(conn_string) as conn:
            with conn.cursor() as cur:

                # Count rows before
                cur.execute(f"SELECT COUNT(*) FROM {table_name};")
                before = cur.fetchone()[0]

                # Convert all types to native Python types
                values = [
                    tuple(v.item() if hasattr(v, "item") else v for v in row)
                    for row in dataframe.itertuples(index=False)
                ]

                # Prepare SQL
                col_str = ', '.join(columns)
                sql = f"INSERT INTO {table_name} ({col_str}) VALUES %s"

                # Bulk insert
                execute_values(cur, sql, values)

                # Count rows after
                cur.execute(f"SELECT COUNT(*) FROM {table_name};")
                after = cur.fetchone()[0]

                inserted = after - before
                if inserted != len(values):
                    raise psycopg2.DatabaseError(
                        f"Expected {len(values)} rows inserted, got {inserted}"
                    )

                print(f"Rows inserted: {inserted}")

    except psycopg2.DatabaseError as e:
        print("Database error:", e)

To facilitate iterative testing and streamline repeated executions during the development of this project, I implemented a routine to reset and truncate all relevant database tables efficiently

In [ ]:
try:
    with psycopg2.connect(conn_string) as conn:
        with conn.cursor() as cur:
            cur.execute("""
                TRUNCATE TABLE bikeshare.trip_informations RESTART IDENTITY CASCADE;
                TRUNCATE TABLE bikeshare.users RESTART IDENTITY CASCADE;
                TRUNCATE TABLE bikeshare.stations RESTART IDENTITY CASCADE;
                TRUNCATE TABLE bikeshare.dim_date RESTART IDENTITY CASCADE;
                TRUNCATE TABLE bikeshare.gender RESTART IDENTITY CASCADE;
            """)
            print("All tables truncated successfully.")

except psycopg2.DatabaseError as e:
    print("Database error:", e)

“We will leverage the insert_data function to efficiently populate the database tables with our cleaned and structured datasets, ensuring data integrity and consistency across the Databse.

In [ ]:
# stations table
insert_data(
    "bikeshare.stations",
    ("id", "name", "latitude", "longitude"),
    stations_df,
    conn_string
)

In [ ]:
# gender table
try:
    with psycopg2.connect(conn_string) as conn:
        with conn.cursor() as cur:
            cur.execute("""
                INSERT INTO bikeshare.gender (id, gender_name)
                VALUES
                    (0, 'Unknown'),
                    (1, 'Male'),
                    (2, 'Female');
            """)
except psycopg2.DatabaseError as e:
    print(e)

In [ ]:
#users table
insert_data(
    "bikeshare.users",
    ("birth_year","user_type","gender","id"),
    users_df,
    conn_string
)

In [ ]:
# dim_date table
insert_data(
    "bikeshare.dim_date",
    ("date_id", "full_date", "year", "month", "day", "month_name", "day_name", "quarter"),
    date_df,
    conn_string
)

For the trip_informations column we create a new datafrom so we can isnert it into our insert_data definition

In [ ]:
trip_inf_df=trip_data_df[["trip_duration","start_time","stop_time" ,"start_station_id"	,"end_station_id","bike_id","user_id","date_key"]].copy()
# trip_informations table
insert_data(
    "bikeshare.trip_informations",
    ("trip_duration","start_time","stop_time" ,"start_station_id","end_station_id","bike_id","user_id","date_key"),
    trip_inf_df,
    conn_string
)

Creating views:

In [ ]:
import psycopg2

try:
    with psycopg2.connect(conn_string) as conn:
        with conn.cursor() as cur:

            #You can see which bikes are the most popular, how long they are used on average, and the total time each bike has been ridden
            cur.execute("""
                CREATE OR REPLACE VIEW bikeshare.bike_usage AS
                SELECT 
                    bike_id,
                    COUNT(id) AS total_trips,
                    ROUND(AVG(trip_duration)::numeric, 2) AS avg_trip_duration,
                    ROUND(SUM(trip_duration)::numeric, 2) AS total_duration
                FROM bikeshare.trip_informations
                GROUP BY bike_id;
            """)

            #Useful to understand user behavior, identify heavy users, and spot patterns across different user types.
            cur.execute("""
                CREATE OR REPLACE VIEW bikeshare.user_trip_stats AS
                SELECT 
                    u.id AS user_id,
                    u.user_type,
                    g.gender_name,
                    COUNT(t.id) AS total_trips,
                    ROUND(AVG(t.trip_duration)::numeric, 2) AS avg_trip_duration,
                    ROUND(SUM(t.trip_duration)::numeric, 2) AS total_duration
                FROM bikeshare.users u
                LEFT JOIN bikeshare.gender g ON u.gender = g.id
                LEFT JOIN bikeshare.trip_informations t ON t.user_id = u.id
                GROUP BY u.id, u.user_type, g.gender_name;
            """)
            #Helps with station capacity planning and identifying busy or underused stations.
            cur.execute("""
                CREATE OR REPLACE VIEW bikeshare.station_usage AS
                SELECT 
                    s.id AS station_id,
                    s.name AS station_name,
                    COUNT(t.id) FILTER (WHERE t.start_station_id = s.id) AS trips_started,
                    COUNT(t.id) FILTER (WHERE t.end_station_id = s.id) AS trips_ended
                FROM bikeshare.stations s
                LEFT JOIN bikeshare.trip_informations t
                    ON t.start_station_id = s.id OR t.end_station_id = s.id
                GROUP BY s.id, s.name;
            """)
            #Offers a complete view of the system’s activity for reporting or analytics purposes.
            cur.execute("""
                CREATE OR REPLACE VIEW bikeshare.trip_summary AS
                SELECT 
                    t.id AS trip_id,
                    u.id AS user_id,
                    u.user_type,
                    g.gender_name,
                    u.birth_year,
                    ROUND(t.trip_duration::numeric, 2) AS trip_duration,
                    t.start_time,
                    t.stop_time,
                    s_start.name AS start_station,
                    s_end.name AS end_station,
                    t.bike_id
                FROM bikeshare.trip_informations t
                JOIN bikeshare.users u ON t.user_id = u.id
                JOIN bikeshare.gender g ON u.gender = g.id
                JOIN bikeshare.stations s_start ON t.start_station_id = s_start.id
                JOIN bikeshare.stations s_end ON t.end_station_id = s_end.id;
            """)
            #Summarizes daily bike trips by date, showing total trips, average and total trip duration, and unique users.

            cur.execute("""
                CREATE OR REPLACE VIEW bikeshare.daily_trip_summary AS
                SELECT
                    d.date_id,
                    d.full_date,
                    d.year,
                    d.month,
                    d.day,
                    d.month_name,
                    d.day_name,
                    d.quarter,
                    COUNT(t.id) AS total_trips,
                    CAST(ROUND(AVG(t.trip_duration)::numeric, 2) AS numeric) AS avg_trip_duration,
                    CAST(ROUND(SUM(t.trip_duration)::numeric, 2) AS numeric) AS total_trip_duration,
                    COUNT(DISTINCT t.user_id) AS unique_users
                FROM bikeshare.dim_date d
                LEFT JOIN bikeshare.trip_informations t
                    ON t.date_key = d.date_id
                GROUP BY
                    d.date_id, d.full_date, d.year, d.month, d.day, d.month_name, d.day_name, d.quarter
                ORDER BY d.full_date;

            """)


            print("All views created")

except psycopg2.DatabaseError as e:
    print("Database error:", e)
except Exception as e:
    print("Unexpected error:", e)